#tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
#tooltip #tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(29, 29, 29, 0.664);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-bottom: 10px;
  left: 50%;
  margin-left: -60px;
}

#tooltip:hover #tooltiptext {
  animation: fadeInAnimation ease 0.88s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  visibility: visible;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
